
<!doctype html>
<!--[if IE 8]><html class="ie8 " lang="tr"><![endif]-->
<!--[if IE 9]><html class="ie9 " lang="tr"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="" lang="tr" xmlns:th="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>
    <!--[if lt IE 9]>
    <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="Content-Language" http-equiv="Content-Language" content="tr"/>
    <meta name="rating" content="general"/>

    <meta name="robots" content="NOODP,index,follow"/>
    <meta name="revisit-after" content="1 Days"/>
    <link rel="icon" href="https://www.sahibinden.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://www.sahibinden.com/favicon.ico" type="image/x-icon"/>
    <link rel="search" type="application/opensearchdescription+xml" title="sahibinden.com" href="https://www.sahibinden.com/static/opensearch"/>

    <link rel="canonical" href="https://www.sahibinden.com/"/>
    <meta name="x-canonical-url" content="/"/>
    <link rel="alternate" hreflang="en" href="https://www.sahibinden.com/en"/>
    <meta name="description" content="Sahibinden satılık, kiralık, ikinci el, otomobil, emlak ve her türlü ürün - Türkiye'nin en büyük ücretsiz ilan ve online alışveriş sitesi."/>
    <meta name="keywords" content="sahibinden, alışveriş, online alışveriş, emlak fiyatları, 2.el oto, ikinci el araba fiyatları, motorsiklet fiyatları, motor, kol saati modelleri, SLR fotoğraf makinesi, cep telefonu fiyatları, bayan iç giyim, bayan çanta, bayan ayakkabı, gelinlik modelleri, oto yedek parça fiyatları, mp3 playerlar, çocuk oto koltuğu, bilgisayar parçaları, klasik araba, tekne, ücretsiz ilan, bedava ilan, ücretsiz emlak ilan, ücretsiz oto ilan, seri ilan, ücretsiz iş ilanı"/>
    <link href="https://plus.google.com/111732612024670853903" rel="publisher"/>
    <script type="text/javascript">
        window.skipJQueryInlineBlockNeedsLayoutTest = true;
        var __iwop=[];(function(){for(var n in window){__iwop.push(n);}})();
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        function getBanner(zoneId, extraParams, targetId) {

        };
        /*]]>*/
    </script>
    <script type="text/javascript">
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];

        var googletagLoader = function () {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        };


        googletagLoader();
    </script>
    <style type="text/css">
        #header
        {
            background-color: black !important;
        }
        #newilan
        {
            background-color: white !important;
            color: blue !important;
        }

    </style>
    <script type="text/javascript" src="https://www.sahibinden.com/assets/cookiePolicy:1.js" async="async"></script>
    <meta property="al:ios:url" content="sahibinden://https://www.sahibinden.com/" />
    <meta property="al:ios:app_store_id" content="418535251" />
    <meta property="al:ios:app_name" content="sahibinden.com mobil" />
    <meta property="al:android:url" content="sahibinden://https://www.sahibinden.com/" />
    <meta property="al:android:package" content="com.sahibinden" />
    <meta property="al:android:app_name" content="sahibinden.com" />

    <link href="https://s0.shbdn.com/assets/common:48fe0e0f0028a9ba4e753005d1ebf11a.css" media="screen, print" rel="stylesheet" type="text/css"/>
    <link href="https://s0.shbdn.com/assets/homepage:b9edf39b096bffa9f209ea8fa8cabf70.css" media="screen, print" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        var SahibindenCfg = SahibindenCfg || {};
        SahibindenCfg.searchBaseUrl = '/arama';
        SahibindenCfg.defaultSorting = '';


        SahibindenCfg.facetedSearch = {};
        SahibindenCfg.facetedSearch.ajaxTimeout = 60000;
        SahibindenCfg.facetedSearch.cityListUrl = '/ajax/search/locationFacets';
        SahibindenCfg.facetedSearch.citySearchUrl = '/ajax/location/search/city';



        SahibindenCfg.widgets = {};
        SahibindenCfg.enableWidget = function(widget) { this.widgets[widget] = true; };
        SahibindenCfg.isWidgetEnabled = function(widget) { return this.widgets[widget] === true; };
    </script></head>
<body>

<!--suppress XmlUnboundNsPrefix, XmlUnboundNsPrefix -->
<div class="download-app-banner" style="display: none">
    <div class="content">
        <p class="info">sahibinden mobil uygulamasının milyonlarca kullanıcısına sen de <b>katıl</b>!</p>
        <p class="how"><b>SAHI</b> yaz <b>4350'</b> ye telefonundan ücretsiz <strong>SMS</strong> at.</p>
        <div class="download-links">
            <a class="apple-store" target="_blank"  href="https://itunes.apple.com/tr/app/sahibinden.com-mobil/id418535251?mt=8"></a>
            <a class="google-play" target="_blank" href="https://play.google.com/store/apps/details?id=com.sahibinden"></a>
        </div>
        <span class="close"></span>
    </div>
</div>
<div class="header-banners clearfix">
    <div class="search-leaderboard-banner" id="searchLeaderboardBanner">
        <!--suppress XmlUnboundNsPrefix -->
        <div id="div-gpt-ad-1343223117871-0" style="width: auto; height: auto;">
            <script type="text/javascript">
                /*
                 *
                 * For the Banner Loading Problem
                 * Please be careful when you change this code block
                 *
                 */
                // Search Leaderboard Banner
                if (sessionStorage.getItem('searchLeaderboardBannerShowed')) {
                    document.getElementById('searchLeaderboardBanner').className += ' showed-once';
                }

                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1343223117871-0'); });
            </script>
        </div>
    </div>
</div>
<div class="header-container " id="header">
    <div class="header ">
        <!--suppress XmlUnboundNsPrefix, XmlUnboundNsPrefix -->
        <p class="clearfix">

        </p>
        <!--suppress XmlUnboundNsPrefix, XmlUnboundNsPrefix -->
        <form id="searchSuggestionForm" action="/kelime-ile-arama" method="get" >
            <a><span th:text="${isim}"  />

            </a>

            <a href="/login" rel="nofollow"><span th:text="${logins}"  />

            </a>
            <a href="/Uye" rel="nofollow">

                Üye Ol</a>
        </form>

        <ul >
            <li class="login-text">
                <a rel="nofollow" href="https://secure.sahibinden.com/giris">

                    Giriş Yap</a>
            </li>
            <li class="register-text">
                <a rel="nofollow" href="https://secure.sahibinden.com/kayit/">

                    Üye Ol</a>
            </li>
            <li class="username-area">
                <a class="tipitip-trigger" data-open-event="click" data-close-event="click" data-position="south-east"
                   data-class="header-custom-menu user-menu-tooltip " data-target="#user-login-tooltip" href="#"></a>
            </li>
            <li class="messages">
                <a href="#" class="new tipitip-trigger" data-open-event="click" data-close-event="click" data-position="south-east" data-class="header-custom-menu user-messages-tooltip" data-target="#user-messages-tooltip">Mesajlar</a>
                <span></span>
            </li>
            <li class="notifications">
                <a class="tipitip-trigger" data-open-event="click" data-close-event="click" data-position="south-east" data-class="header-custom-menu user-notifications-tooltip" data-target="#user-notifications-tooltip" href="#"></a>
                <span></span>
            </li>
            <li class="favorite-classified">
                <a href="https://banaozel.sahibinden.com/favori-ilanlar" class="new-my-account-link" rel="nofollow">Favori İlanlarım</a>
                <span></span>
            </li>
            <li class="favorite-search">
                <a href="#" class="tipitip-trigger" data-open-event="click" data-close-event="click"
                   data-position="south-east" data-class="header-custom-menu favorite-search-tooltip loading-status"
                   data-target="#favorite-search-tooltip">Favori Aramalarım</a>
            </li>
            <li class="new-classified" >
                <a id="newilan" rel="nofollow" class="btn btn-flat btn-link sourceTrigger trackLinkClick trackId_ucretsiz_ilan" data-source="new_classified"
                   href="/ilanver">
                    Ücretsiz* İlan Ver</a>
            </li>
        </ul>
        <div id="user-login-tooltip" class="tipitip-target">
            <div class="my-account-menu">
                <ul class="header-tooltip-menu old-my-account-menu">
                    <li>
                        <a href="https://banaozel.sahibinden.com/" rel="nofollow">
                            Bana Özel Özet</a>
                    </li>
                    <li>
                        <a href="https://banaozel.sahibinden.com/ilanlarim" rel="nofollow">
                            İlanlarım</a>
                    </li>
                    <li>
                        <a href="https://banaozel.sahibinden.com/satistaki-urunlerim" rel="nofollow">
                            Get İşlemlerim</a>
                    </li>
                    <li>
                        <a href="https://banaozel.sahibinden.com/favori-ilanlar" rel="nofollow">
                            Favorilerim</a>
                    </li>
                    <li>
                        <a href="https://banaozel.sahibinden.com/mesajlarim" rel="nofollow">
                            Mesajlarım</a>
                    </li>
                    <li>
                        <a href="https://banaozel.sahibinden.com/bilgilerim">
                            Üyeliğim</a>
                    </li>
                    <li>
                        <a href="https://banaozel.sahibinden.com/magazam/icerik">
                            Mağazam</a>
                    </li>
                    <li>
                        <a href="https://www.sahibinden.com/cikis">
                            Çıkış Yap</a>
                    </li>
                </ul>

                <ul class="header-tooltip-menu new-my-account-menu">
                    <li>
                        <a href="https://banaozel.sahibinden.com/" rel="nofollow">Bana Özel Özet</a>
                    </li>
                    <li class="my-account-classifieds">
                        <a href="https://banaozel.sahibinden.com/ilanlarim" rel="nofollow">İlanlar</a>
                    </li>
                    <li class="my-purchase-transactions">
                        <a href="https://banaozel.sahibinden.com/mevcut-siparislerim" rel="nofollow">Siparişlerim</a>
                    </li>
                    <li class="my-sale-transactions">
                        <a href="https://banaozel.sahibinden.com/satistaki-urunlerim" rel="nofollow">Satış İşlemlerim</a>
                    </li>
                    <li class="my-basket-link">
                        <a href="https://secure.sahibinden.com/odeme?hideSteps=true" rel="nofollow">Sepetim</a>
                    </li>
                    <li class="my-account-favorites">
                        <a href="https://banaozel.sahibinden.com/favori-ilanlar" rel="nofollow">Favorilerim</a>
                    </li>
                    <li class="my-user-info-link">
                        <a href="https://banaozel.sahibinden.com/bilgilerim" rel="nofollow">Üyeliğim</a>
                    </li>
                    <li class="store-management">
                        <a href="https://banaozel.sahibinden.com/magazam/icerik" rel="nofollow">Mağaza Yönetimi</a>
                    </li>
                    <li class="logout">
                        <a href="https://www.sahibinden.com/cikis" rel="nofollow">Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="user-messages-tooltip" class="tipitip-target">
            <ul class="header-tooltip-menu">
                <li class="my-messages">
                    <a href="https://banaozel.sahibinden.com/mesajlarim" rel="nofollow">İlan Mesajlarım&nbsp;(<span></span>)</a>
                </li>
                <li class="my-set-messages">
                    <a href="https://banaozel.sahibinden.com/get/mesajlarim" rel="nofollow">Güvenli e-Ticaret Mesajlarım&nbsp;(<span></span>)</a>
                </li>
            </ul>
        </div>
        <div id="user-notifications-tooltip" class="tipitip-target">
            <ul class="header-tooltip-menu">
                <li class="notifications-header">Bildirimler</li>
                <li class="no-notification-header">Okunmamış bildiriminiz<br/>bulunmamaktadır.</li>
                <li id="classifiedNotification">
                    <p>İlanlar&nbsp;<span></span></p>
                    <ul>
                        <li>
                            <a class="activeClassifieds" href="https://banaozel.sahibinden.com/ilanlarim" rel="nofollow">Yayında Olanlar&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="passiveClassifieds" href="https://banaozel.sahibinden.com/ilanlarim/pasif" rel="nofollow">Yayında Olmayanlar&nbsp;<span></span></a>
                        </li>
                    </ul>
                </li>
                <li id="salesNotification">
                    <p>Satış İşlemlerim&nbsp;<span></span></p>
                    <ul>
                        <li>
                            <a class="activeSecureTradeClassifieds" href="https://banaozel.sahibinden.com/satistaki-urunlerim" rel="nofollow">Satıştaki Ürünlerim&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="waitingForCargoInfo" href="https://banaozel.sahibinden.com/kargolayacaklarim" rel="nofollow">Kargolayacaklarım&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="waitingForBuyerConfirmation" href="https://banaozel.sahibinden.com/alicidan-onay-beklediklerim" rel="nofollow">Alıcıdan Onay Beklediklerim&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="successfulSales" href="https://banaozel.sahibinden.com/basarili-satislarim" rel="nofollow">Başarılı Satışlarım&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="refundedSales" href="https://banaozel.sahibinden.com/iade-edilenler" rel="nofollow">İade Edilenler&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="passiveSecureTradeClassifieds" href="https://banaozel.sahibinden.com/satista-olmayan-urunlerim" rel="nofollow">Satışta Olmayan Ürünlerim&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="mss" href="https://banaozel.sahibinden.com/get" rel="nofollow">Mesafeli Satış Sözleşmelerim&nbsp;<span></span></a>
                        </li>
                    </ul>
                </li>
                <li id="purchasesNotification">
                    <p>Siparişlerim&nbsp;<span></span></p>
                    <ul>
                        <li>
                            <a class="waitingCargo currentPurchases" href="https://banaozel.sahibinden.com/mevcut-siparislerim" rel="nofollow">Mevcut Siparişlerim&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="refunded" href="https://banaozel.sahibinden.com/iade-islemlerim" rel="nofollow">İade İşlemlerim&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="successfulPurchases" href="https://banaozel.sahibinden.com/tamamlananlar" rel="nofollow">Tamamlananlar&nbsp;<span></span></a>
                        </li>
                        <li>
                            <a class="mss" href="https://banaozel.sahibinden.com/get" rel="nofollow">Mesafeli Satış Sözleşmelerim&nbsp;<span></span></a>
                        </li>
                    </ul>
                </li>
                <li id="informationNotification" class="notification-menu-one-link">
                    <p>Bilgilendirmeler&nbsp;<span></span></p>
                    <a class="information" href="https://banaozel.sahibinden.com/bilgilendirmeler" rel="nofollow">Bilgilendirmeler&nbsp;<span></span></a>
                </li>
            </ul>
        </div>
        <div id="favorite-search-tooltip" class="tipitip-target">
            <ul class="header-tooltip-menu">
                <li class="favorite-search-setting">
                    <span>
                        Favori Aramalarım</span>
                    <a href="https://banaozel.sahibinden.com/favori-aramalarim" class="new-my-account-link" rel="nofollow">
                        Ayarlar</a>
                </li>
                <li class="all-favorite-search">
                    <a href="https://banaozel.sahibinden.com/favori-aramalarim" class="new-my-account-link" rel="nofollow">
                        Tümü</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container">
    <div id="topMessage"></div>
    <!-- Browser Support Information -->

    <noscript>
        <div class="top-message">
            <div class="message-container no-script">
                <p><strong>Tarayıcınızda JavaScript devre dışı bırakılmıştır.</strong> sahibinden.com’u doğru görüntüleyebilmek için tarayıcınızda JavaScript'i etkinleştirmelisiniz.</p></div>
        </div>
    </noscript>
    <!-- Disable JavaScript Information -->


    <div class="download-app-side-bar" style="display: none">
        <label>Uygulamayı İndir<span class="close"></span></label>
        <div class="content">
            <p class="info">sahibinden mobil uygulamasının milyonlarca kullanıcısına sen de <b>katıl</b>!</p>
            <p class="how"><b>SAHI</b> yaz <b>4350'</b> ye telefonundan ücretsiz <strong>SMS</strong> at.</p>
            <div class="download-links">
                <a class="apple-store" target="_blank" href="https://itunes.apple.com/tr/app/sahibinden.com-mobil/id418535251?mt=8"></a>
                <a class="google-play" target="_blank" href="https://play.google.com/store/apps/details?id=com.sahibinden"></a>
            </div>
            <span class="hide"></span>
        </div>
        <div class="overlay"></div>
    </div>


    <div class="homepage">
        <div class="content">




            <!-- Banner Masthead -->
            <aside>
                <div class="uiBox">
                    <h3 class="cat-title">Kategoriler</h3>
                    <nav>


                        <ul class="categories-left-menu">

                            <li class="category-3517">
                                <a href="/kategori/vasita" title="Vasıta" class="">
                                    Otomobil</a>
                                <span>(456.512)</span>
                                <input type="checkbox" id="category-3517" class="show-hide-input"/>
                                <ul>
                                    <li class="">
                                        <a href="/kategori/otomobil">
                                            Motor Bakımı</a>
                                        <span>
                                (283.345)
                            </span>
                                    </li>
                                    <li class="">
                                        <a href="/kategori/arazi-suv-pick-up">
                                            Kaporta Tamiratı</a>
                                        <span>
                                (37.407)
                            </span>
                                    </li>
                                    <li class="">
                                        <a href="/kategori/motosiklet">
                                            Elektrik Aksamı</a>
                                        <span>
                                (24.263)
                            </span>
                                    </li>

                                    <li class="hide-show-cat">
                                        <label class="open-categories" for="category-3517">Tümünü Göster</label>
                                        <label class="close-categories" for="category-3517">Kapat</label>
                                    </li>
                                </ul>
                            </li>

                            <li class="category-7">
                                <a href="/kategori/ikinci-el-ve-sifir-alisveris" title="İkinci El ve Sıfır Alışveriş" class="">
                                    İkinci El ve Sıfır Alışveriş</a>
                                <span>(2.126.068)</span>
                                <input type="checkbox" id="category-7" class="show-hide-input"/>
                                <ul>
                                    <li class="">
                                        <a href="/kategori/bilgisayar">
                                            Bilgisayar tamiratı</a>
                                        <span>
                                (460.861)
                            </span>
                                    </li>
                                    <li class="">
                                        <a href="/kategori/cep-telefonu">
                                            Cep Telefonu tamiratı</a>
                                        <span>
                                (305.117)
                            </span>
                                    </li>
                                    <li class="">
                                        <a href="/kategori/fotograf-kamera">
                                            Fotoğraf Makinesi Tamiratı</a>
                                        <span>
                                (45.665)
                            </span>
                                    </li>
                                    <li class="">
                                        <a href="/kategori/ev-dekorasyon">
                                            Ev Aletleri Tamiratı</a>
                                        <span>
                                (209.234)
                            </span>
                                    </li>
                                    <li class="">
                                        <a href="/kategori/ev-elektronigi">
                                            Saat Tamiratı</a>
                                        <span>
                                (78.308)
                            </span>
                                    </li>
                                    <li class="">
                                        <a href="/kategori/elektrikli-ev-aletleri">
                                           Antika Eşya</a>
                                        <span>
                                (58.052)
                            </span>
                                    </li>

                                </ul>
                            </li>






                        </ul>
                    </nav>
                </div>
                <!-- Categories -->




                <!-- News -->
            </aside>
        </div>
    </div>
    <div class="footerContainer footer-container">
        <div class="footer phdef pvdef clearfix">
            <ul class="footerMenu footer-menu">
                <li>
                    <h2>Kurumsal</h2>
                    <ul>
                        <li>
                            <a href="https://www.sahibinden.com/kurumsal/hakkimizda/">
                                Hakkımızda</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/kurumsal/reklam-filmleri/">
                                Medya İletişimi ve Görseller</a>
                        </li>
                        <li>
                            <a href="https://insankaynaklari.sahibinden.com/">
                                İnsan Kaynakları</a>
                        </li>
                        <li>
                            <a rel="nofollow no-follow" href="https://www.sahibinden.com/kurumsal/iletisim/">İletişim</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>Hizmetlerimiz</h2>
                    <ul>
                        <li>
                            <a href="https://www.sahibinden.com/doping-tanitim/">
                                Doping</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/guvenli-e-ticaret">
                                Güvenli e-Ticaret (GeT)</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/toplu-urun-girisi">
                                Toplu Ürün Girişi</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/sahibinden-dogal-reklam/">
                                sahibinden Doğal Reklam</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/mobil">
                                Mobil</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>Mağazalar</h2>
                    <ul>
                        <li>
                            <a href="https://banaozel.sahibinden.com/magazam">
                                Mağazam</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/magaza-kategori-secimi">
                                Mağaza Açmak İstiyorum</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/neden-magaza">
                                Neden Mağaza?</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/magaza-fiyatlari">Maliyeti Nedir?</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/emlakofisim/">
                                Emlak Ofisim</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>Gizlilik ve Kullanım</h2>
                    <ul>
                        <li>
                            <a href="https://www.sahibinden.com/guvenli-alisverisin-ipuclari/">
                                Güvenli Alışverişin İpuçları</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/help.php?a=216">
                                Kullanım Koşulları</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/sozlesmeWQQaXQQ930WQQpXQQhelp">
                                Üyelik Sözleşmesi</a>
                        </li>
                        <li>
                            <a href="https://www.sahibinden.com/ek-4-gizlilik-politikasiWQQaXQQ280WQQpXQQhelp">
                                Gizlilik Politikası</a>
                        </li>
                        <li>
                            <a href="https://yardim.sahibinden.com/hc/tr">
                                Yardım ve İşlem Rehberi</a>
                        </li>
                    </ul>
                </li>
                <li class="followUs follow-us">
                    <h2>Bizi Takip Edin</h2>
                    <ul>
                        <li>
                            <a title="Facebook" target="_blank"
                               href="https://www.facebook.com/sahibindencom">Facebook</a>
                        </li>
                        <li>
                            <a title="Twitter" target="_blank"
                               href="https://www.twitter.com/sahibindencom">Twitter</a>
                        </li>
                        <li>
                            <a title="Linkedin" target="_blank"
                               href="https://www.linkedin.com/company/sahibinden-com">Linkedin</a>
                        </li>
                        <li>
                            <a title="Google+" target="_blank"
                               href="https://plus.google.com/+sahibindencom">Google+</a>
                        </li>
                        <li>
                            <a title="Instagram" target="_blank"
                               href="https://www.instagram.com/sahibindencom/">Instagram</a>
                        </li>
                        <li>
                            <a title="Youtube" target="_blank"
                               href="https://www.youtube.com/user/sahibindencom">Youtube</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="clearfix">
                <ul class="contact-menu">
                    <li class="call-center">
                        <p>7/24 Müşteri Hizmetleri</p>
                        <span>0 850 222 44 44</span>
                    </li>
                    <li class="help-center">
                        <p>Destek Merkezi</p>
                        <a href="https://www.sahibinden.com/destek">sahibinden.com/destek</a>
                    </li>
                    <li class="store-logos">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sahibinden" class="store-logo googleplay"></a><a target="_blank" href="https://itunes.apple.com/tr/app/sahibinden.com-mobil/id418535251?mt=8" class="store-logo apple"></a>
                    </li>
                </ul>
            </div>

            <p class="warningText warning-text">
                sahibinden.com'da yer alan kullanıcıların oluşturduğu tüm içerik, görüş ve bilgilerin doğruluğu, eksiksiz ve değişmez olduğu, yayınlanması ile ilgili yasal yükümlülükler içeriği oluşturan kullanıcıya aittir. Bu içeriğin, görüş ve bilgilerin yanlışlık, eksiklik veya yasalarla düzenlenmiş kurallara aykırılığından sahibinden.com hiçbir şekilde sorumlu değildir. Sorularınız için ilan sahibi ile irtibata geçebilirsiniz. <br /> Yer Sağlayıcı Belge No : 581</p>

            <div class="postClassifiedFreeText post-classified-free-text">
                <p>(*) Limitli adetlerde ve belirli kategorilerde</p>
                <a rel="nofollow" href="/en" title="English" class="language-selection-link">
                    English</a>
            </div>
            <ul class="mobil footer-nav disable">
                <li><a href="/">Anasayfa</a></li>
                <li><a href="">Masaüstü Görünüm</a></li>
            </ul>
            <p class="copyright mobil">
                Copyright © 2000-2018 sahibinden.com</p>
        </div>
    </div>
</div>
</body>
</html>

